<div class="row">
  <div class="col-3"></div>
  <div class="col-6 form-style">
    <h1>Register your details</h1>
    <form action="" [formGroup]="regisrationForm">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
          placeholder="First Name"
          aria-label="First Name"
        />
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
          placeholder="Last Name"
          aria-label="Last Name"
        />
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Occupation"
          aria-label="Occupation"
          formControlName="occupation"
        />
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Qualification"
          aria-label="Qualification"
          formControlName="qualification"
        />
      </div>
      <div class="input-group mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          aria-label="Email"
          formControlName="email"
        />
        <input
          type="tel"
          class="form-control"
          formControlName="phone"
          placeholder="Telephone / Mobile Number"
          aria-label="Telephone / Mobile Number"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-text">
          <input
            class="form-check-input mt-0"
            type="checkbox"
            value=""
            aria-label="Checkbox for following text input"
            formControlName="canContact"
          />
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Can Contact?"
          aria-label="Can Contact?"
          disabled
        />
      </div>
      <div class="input-group mb-3">
        <div class="form-floating">
          <select
            class="form-select"
            id="fromYear"
            formControlName="fromYear"
            aria-label="From Year"
          >
            <option selected>Select a year</option>
            <option value="{{ year }}" *ngFor="let year of years">
              {{ year }}
            </option>
          </select>
          <label for="fromYear">Joining Year</label>
        </div>
        <div class="form-floating">
          <select
            class="form-select"
            id="fromClass"
            formControlName="fromClass"
            aria-label="From Class"
          >
            <option selected>Select a class</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
            <option value="8">Eight</option>
            <option value="9">Nine</option>
            <option value="10">Ten</option>
          </select>
          <label for="fromClass">Joining Class</label>
        </div>
        <div class="form-floating">
          <select
            class="form-select"
            id="toYear"
            formControlName="toYear"
            aria-label="Floating label select example"
          >
            <option selected>Select a year</option>
            <option value="{{ year }}" *ngFor="let year of years">
              {{ year }}
            </option>
          </select>
          <label for="toYear">Parting Year</label>
        </div>
        <div class="form-floating">
          <select
            class="form-select"
            id="toClass"
            formControlName="toClass"
            aria-label="Floating label select example"
          >
            <option selected>Select a class</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
            <option value="8">Eight</option>
            <option value="9">Nine</option>
            <option value="10">Ten</option>
          </select>
          <label for="fromClass">Parting Class</label>
        </div>
      </div>
      <div>
        <label for="address"> Address: </label>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="address"
            formControlName="address1"
            placeholder="Address Line 1"
            aria-label="Address Line 1"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="address2"
            placeholder="Address Line 2"
            aria-label="Address Line 2"
          />
        </div>
        <div class="input-group mb-3">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="city"
              formControlName="city"
            />
            <label for="city">City</label>
          </div>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="state"
              formControlName="state"
            />
            <label for="state">State</label>
          </div>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="country"
              formControlName="country"
            />
            <label for="country">Country</label>
          </div>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="pin"
              formControlName="pin"
            />
            <label for="pin">Pin Code</label>
          </div>
        </div>

        <div>
          <button type="button" (click)="onSubmit()" class="btn btn-primary">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-3"></div>
</div>
