h3 {
  color: #333;
}

label {
  color: #333;
  font-weight: bold;
}

#firstName,
#occupation,
#email,
#address {
  margin-right: 1%;
}

.form-style {
  padding: 0% 3% 0% 3%;
}

.submit-btn {
  width: 20%;
  margin-left: 40%;
}
