.contact {
  /* background: rgba(0, 0, 0, 0.6); */
  width: 60%;
  margin-left: 30px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact-text {
  color: whitesmoke;
  font-weight: lighter;
}
.contact-text-bold {
  color: whitesmoke;
  font-weight: bold;
}
.qr-image {
  margin-bottom: 50px;
}
.content {
  margin-bottom: 20%;
}
