<div class="container text-center">
  <div class="row">
    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
      <div class="contact">
        <p class="contact-text">
          ನಮ್ಮ ಶಾಲೆಯನ್ನು ನಡೆಸಲು ನಿಮ್ಮ ಉದಾರ ದೇಣಿಗೆಗಳನ್ನು ನಾವು ಸ್ವೀಕರಿಸುತ್ತೇವೆ.
          ಇದು 80G ಅಡಿಯಲ್ಲಿ ತೆರಿಗೆಯಿಂದ ವಿನಾಯಿತಿ ಪಡೆದಿದೆ.
        </p>
        <p class="contact-text">ಬ್ಯಾಂಕ್ ಖಾತೆ ವಿವರಗಳು:</p>
        <p class="contact-text-bold">ಖಾತೆಯ ಹೆಸರು: ವಿದ್ಯಾಪ್ರಚಾರಿಣಿ ಸಂಘ (ರಿ)</p>
        <p class="contact-text-bold">ಖಾತೆ ಸಂಖ್ಯೆ: 50200077452380</p>
        <p class="contact-text-bold">IFSC ಕೋಡ್: HDFC0009567</p>
        <p class="contact-text-bold">ಶಾಖೆ: ಮುಲ್ಕಿ</p>
        <p class="contact-text">ದೂರವಾಣಿ : +91 9900243322</p>
        <p class="contact-text">ಇಮೇಲ್ : kolakaadishaale@gmail.com</p>
      </div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12">
      <img src="../../assets/qr.png" />
    </div>
  </div>
</div>
