<nav class="navbar sticky-top navbar-expand-lg custom-navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logoImage.png" alt="Logo" class="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid justify-content-end"
      >
        <li class="nav-item">
          <a class="nav-link active custom-navbar-font" routerLink="/home"
            >ಸ್ವಾಗತ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active custom-navbar-font"
            routerLink="/history"
            routerLinkActive="activebutton"
            >ಇತಿಹಾಸ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active custom-navbar-font"
            routerLink="/registration"
            routerLinkActive="activebutton"
            >ನೋಂದಣಿ</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link active custom-navbar-font"
            routerLink="/gallery"
            >ಗ್ಯಾಲರಿ</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/contact"
            routerLinkActive="activebutton"
            class="nav-link active custom-navbar-font"
            >ಸಂಪರ್ಕ</a
          >
        </li>

        <li class="nav-item">
          <a
            href="https://drive.google.com/drive/folders/1aS6mD3LKHVTE5feB9jPLOy-47B5YPlEh"
            class="nav-link active custom-navbar-font"
            >ಶತಮಾನೋತ್ಸವ</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
