.custom-navbar {
  background: transparent;
}

.custom-navbar-font {
  color: white !important;
  font-weight: 600;
  font-family: "Rubik";
  font-size: 120%;
}

.custom-navbar-font:hover {
  background: rgba(0, 0, 0, 0.8);
}
.logo {
  width: 70%;
}
