<nav class="navbar sticky-top navbar-expand-lg custom-navbar navbar-light">
  <div class="container-fluid">
    <div>
      <img src="assets/logoOfficial.jpeg" alt="Logo" class="logo" />
      <img src="assets/logoImage.png" alt="Logo" class="logo-desc" />
    </div>

    <button
      class="navbar-toggler aaa"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="!isNavbarCollapsed"
      aria-label="Toggle navigation"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: !isNavbarCollapsed }"
      id="navbarSupportedContent"
    >
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid justify-content-end"
      >
        <li class="nav-item">
          <a
            class="nav-link active custom-navbar-font"
            routerLink="/centenary"
            routerLinkActive="activebutton"
            (click)="collapseNavbar()"
            >ಶತಮಾನೋತ್ಸವ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active custom-navbar-font"
            routerLink="/home"
            routerLinkActive="activebutton"
            (click)="collapseNavbar()"
            >ಸೌಲಭ್ಯಗಳು</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active custom-navbar-font"
            routerLink="/history"
            routerLinkActive="activebutton"
            (click)="collapseNavbar()"
            >ಇತಿಹಾಸ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active custom-navbar-font"
            routerLink="/registration"
            routerLinkActive="activebutton"
            (click)="collapseNavbar()"
            >ನೋಂದಣಿ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active custom-navbar-font"
            routerLink="/gallery"
            routerLinkActive="activebutton"
            (click)="collapseNavbar()"
            >ಗ್ಯಾಲರಿ</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/contact"
            routerLinkActive="activebutton"
            class="nav-link active custom-navbar-font"
            (click)="collapseNavbar()"
            >ದೇಣಿಗೆ</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
