<div class="gallery-page">
  <div class="section-header fade-in-up">
    <h2 class="section-title">ಗ್ಯಾಲರಿ</h2>
    <p class="section-subtitle">ನಮ್ಮ ಶಾಲೆಯ ಸ್ಮರಣೀಯ ಕ್ಷಣಗಳು</p>
  </div>

  <div class="container-fluid">
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="gallery-item fade-in-up" style="animation-delay: 0.1s">
          <div class="gallery-image-wrapper">
            <img
              src="assets/g1.jpeg"
              class="gallery-image"
              alt="Gallery Image 1"
            />
            <div class="gallery-overlay">
              <div class="gallery-icon">
                <i class="fa fa-search-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="gallery-item fade-in-up" style="animation-delay: 0.2s">
          <div class="gallery-image-wrapper">
            <img
              src="assets/g2.jpeg"
              class="gallery-image"
              alt="Gallery Image 2"
            />
            <div class="gallery-overlay">
              <div class="gallery-icon">
                <i class="fa fa-search-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="gallery-item fade-in-up" style="animation-delay: 0.3s">
          <div class="gallery-image-wrapper">
            <img
              src="assets/g3.jpeg"
              class="gallery-image"
              alt="Gallery Image 3"
            />
            <div class="gallery-overlay">
              <div class="gallery-icon">
                <i class="fa fa-search-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
