<div class="row gallery-container">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img src="../../assets/g1.jpg" class="w-100 shadow-1-strong rounded mb-4" />
    <img src="../../assets/g2.jpg" class="w-100 shadow-1-strong rounded mb-4" />
    <img src="../../assets/g6.jpg" class="w-100 shadow-1-strong rounded mb-4" />
    <img src="../../assets/g7.jpg" class="w-100 shadow-1-strong rounded mb-4" />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img src="../../assets/g3.jpg" class="w-100 shadow-1-strong rounded mb-4" />

    <img src="../../assets/g4.jpg" class="w-100 shadow-1-strong rounded mb-4" />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img src="../../assets/g8.jpg" class="w-100 shadow-1-strong rounded mb-4" />
    <img src="../../assets/g5.jpg" class="w-100 shadow-1-strong rounded mb-4" />
  </div>
</div>
