.text-holder {
  background-image: "assets/b1.png";
}

.history-lines {
  text-align: left;
  font-size: small;
  text-indent: 5%;
  color: whitesmoke;
}

.image-desc {
  font-weight: bold;
  color: whitesmoke;
}
.container {
  padding-top: 20px;
}
