<div class="row content-holder">
  <div class="col-md-6 content">
    <div class="features">
      <p class="feature-text">
        ಒಂದನೇ ತರಗತಿಯಿಂದ ಹತ್ತನೇ ತರಗತಿವರೆಗೆ ಅತ್ಯುತ್ತಮ ಗುಣಮಟ್ಟದ ಉಚಿತ ಶಿಕ್ಷಣ.
      </p>
      <p class="feature-text">
        ಎಲ್ಲಾ ವಿದ್ಯಾರ್ಥಿಗಳಿಗೆ ಉಚಿತ ಸಾರಿಗೆ ಸೌಲಭ್ಯ, ಪುಸ್ತಕ, ಬಿಸಿ ಊಟ ಮತ್ತು ಸಮವಸ್ತ್ರ
      </p>
      <p class="feature-text">
        ಉನ್ನತ ದರ್ಜೆಯ ತರಗತಿ ಕೊಠಡಿಗಳು, ವಿಜ್ಞಾನ ಪ್ರಯೋಗಾಲಯ, ಆಟದ ಮೈದಾನ, ಸಭಾಂಗಣ,
        ಕಂಪ್ಯೂಟರ್ ಲ್ಯಾಬ್.
      </p>
      <p class="feature-text">
        ವಿದ್ಯಾರ್ಥಿಗಳ ಕ್ರೀಡೆ, ಸಾಂಸ್ಕೃತಿಕ ಮತ್ತು ಪಠ್ಯೇತರ ಚಟುವಟಿಕೆಗಳ ಬೆಳವಣಿಗೆಗೆ
        ಪ್ರೋತ್ಸಾಹ.
      </p>
      <p class="feature-text">
        ಅನುಭವಿ ಮತ್ತು ಕೌಶಲ್ಯಪೂರ್ಣ ಶಿಕ್ಷಕರು ಮತ್ತು ಸಿಬ್ಬಂದಿ ವರ್ಗ. ಪ್ರತಿ ಮಗುವಿನ
        ಬೆಳವಣಿಗೆಯ ಬಗ್ಗೆ ವಿಶೇಷ ಕಾಳಜಿ ಮತ್ತು ಗಮನವನ್ನು ತೆಗೆದುಕೊಳ್ಳಲಾಗುತ್ತದೆ
      </p>
    </div>
  </div>
  <div class="col-md-6 content">
    <div
      id="myCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="3000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../assets/primarySchool.jpg"
            class="d-block w-100"
            alt="Slide 1"
          />
          <div class="carousel-caption d-none d-md-block">
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/highSchool.jpg"
            class="d-block w-100"
            alt="Slide 2"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="row social">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
    <a
      href="https://www.facebook.com/groups/386230876711089"
      target="_blank"
      class="fa fa-facebook"
    ></a>
    <a
      href="https://www.instagram.com/alumni_kolekadi_school/?igshid=OGRjNzg3M2Y%3D"
      target="_blank"
      class="fa fa-instagram"
    ></a>
  </div>
</div>
