<div class="features">
  <p class="feature-text">
    ಒಂದನೇ ತರಗತಿಯಿಂದ ಹತ್ತನೇ ತರಗತಿವರೆಗೆ ಅತ್ಯುತ್ತಮ ಗುಣಮಟ್ಟದ ಉಚಿತ ಶಿಕ್ಷಣ.
  </p>
  <p class="feature-text">
    ಎಲ್ಲಾ ವಿದ್ಯಾರ್ಥಿಗಳಿಗೆ ಉಚಿತ ಸಾರಿಗೆ ಸೌಲಭ್ಯ, ಪುಸ್ತಕ, ಬಿಸಿ ಊಟ ಮತ್ತು ಸಮವಸ್ತ್ರ
  </p>
  <p class="feature-text">
    ಉನ್ನತ ದರ್ಜೆಯ ತರಗತಿ ಕೊಠಡಿಗಳು, ವಿಜ್ಞಾನ ಪ್ರಯೋಗಾಲಯ, ಆಟದ ಮೈದಾನ, ಸಭಾಂಗಣ, ಕಂಪ್ಯೂಟರ್
    ಲ್ಯಾಬ್.
  </p>
  <p class="feature-text">
    ವಿದ್ಯಾರ್ಥಿಗಳ ಕ್ರೀಡೆ, ಸಾಂಸ್ಕೃತಿಕ ಮತ್ತು ಪಠ್ಯೇತರ ಚಟುವಟಿಕೆಗಳ ಬೆಳವಣಿಗೆಗೆ
    ಪ್ರೋತ್ಸಾಹ.
  </p>
  <p class="feature-text">
    ಅನುಭವಿ ಮತ್ತು ಕೌಶಲ್ಯಪೂರ್ಣ ಶಿಕ್ಷಕರು ಮತ್ತು ಸಿಬ್ಬಂದಿ ವರ್ಗ. ಪ್ರತಿ ಮಗುವಿನ
    ಬೆಳವಣಿಗೆಯ ಬಗ್ಗೆ ವಿಶೇಷ ಕಾಳಜಿ ಮತ್ತು ಗಮನವನ್ನು ತೆಗೆದುಕೊಳ್ಳಲಾಗುತ್ತದೆ
  </p>
  <div class="row card-container">
    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12" align="center">
      <a routerLink="/history" class="btn btn link-button">ಇತಿಹಾಸ</a>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12" align="center">
      <a routerLink="/registration" class="btn btn link-button">ನೋಂದಾಯಿಸಿ</a>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12" align="center">
      <a routerLink="/gallery" class="btn btn link-button">ಗ್ಯಾಲರಿ</a>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12" align="center">
      <a routerLink="/contact" class="btn link-button">ಸಂಪರ್ಕ</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12" align="center">
      <a class="btn link-button" (click)="onClick()">ಶತಮಾನೋತ್ಸವ 2024</a>
    </div>
  </div>
</div>

<div class="row social">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
    <a
      href="https://www.facebook.com/groups/386230876711089"
      class="fa fa-facebook"
    ></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-instagram"></a>
  </div>
</div>
